<meta charset="UTF-8">

<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if='logado'> Usuário logado = {{ nome }}</p>
    <p v-else-if="anonimo">Navegando como anonimo</p>
    <p v-else> Usuário não está logado</p>
    <button @click = 'logado = !logado'>{{ logado ? 'Sair' : 'Entrar' }}</button>
    <input type="checkbox" v-model='anonimo'> <!--Observe como é simples alterar o valor de uma propriedade por input-->
</div>

<Script>

    new Vue ({
        el: '#app',
        data: {
            nome: 'Tássio',
            logado: 'false',
            anonimo: 'true'
        }
        
    })

</Script>